# Pin constraints for mlow_codec
set_io clk_i 21
set_io reset_n_i 23
set_io audio_data_i[0] 24
set_io audio_data_i[1] 25
set_io audio_data_i[2] 26
set_io audio_data_i[3] 27
set_io audio_data_i[4] 28
set_io audio_data_i[5] 29
set_io audio_data_i[6] 30
set_io audio_data_i[7] 31
set_io audio_data_i[8] 32
set_io audio_data_i[9] 33
set_io audio_data_i[10] 34
set_io audio_data_i[11] 35
set_io audio_data_i[12] 36
set_io audio_data_i[13] 37
set_io audio_data_i[14] 38
set_io audio_data_i[15] 39
set_io audio_valid_i 40
set_io audio_ready_o 41
set_io audio_data_o[0] 42
set_io audio_data_o[1] 43
set_io audio_data_o[2] 44
set_io audio_data_o[3] 45
set_io audio_data_o[4] 46
set_io audio_data_o[5] 47
set_io audio_data_o[6] 48
set_io audio_data_o[7] 49
set_io audio_data_o[8] 50
set_io audio_data_o[9] 51
set_io audio_data_o[10] 52
set_io audio_data_o[11] 53
set_io audio_data_o[12] 54
set_io audio_data_o[13] 55
set_io audio_data_o[14] 56
set_io audio_data_o[15] 57
set_io audio_valid_o 58
set_io audio_ready_i 59
set_io encode_mode_i 60
set_io bitrate_sel_i[0] 61
set_io bitrate_sel_i[1] 62
set_io bitrate_sel_i[2] 63
set_io bitrate_sel_i[3] 64
set_io bandwidth_sel_i[0] 65
set_io bandwidth_sel_i[1] 66
set_io busy_o 67
set_io error_o 68
set_io quality_metric_o[0] 69
set_io quality_metric_o[1] 70
set_io quality_metric_o[2] 71
set_io quality_metric_o[3] 72
set_io quality_metric_o[4] 73
set_io quality_metric_o[5] 74
set_io quality_metric_o[6] 75
set_io quality_metric_o[7] 76
